<article class="mgt-card">
    <div class="mgt-card-container">
        <form action="{% url 'meda:create_argument' %}" method="post">
            {% csrf_token %}
            {{ argument_form.as_p }}
            <input type="hidden" name="moogt_id" value={{moogt.id}}>
            {% if not moogt.get_end_requested %}
            <select name="status">
                <option value="continue" selected="selected">Continue</option>
                <option value="concede">Concede</option>
                <option value="disagree">Disagree</option>
            </select>
            {% else %}
            <input type="hidden" name="status" value="continue">
            {% endif %}
            <input type="submit" value="Submit" class="pull-right btn btn-outline-secondary">
        </form>
        <div style="clear: both;"></div>
    </div>
</article>